body {
    font: 200 1em 'Myriad Set Pro', 'montserratlight', 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 0;
    margin: 0;
    background: #400000;
}

#feedContainer{
    width: 100%;
    position: absolute;
    top: 60px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

h1{
    position: absolute;
    left: 0;
    color: wheat;
    margin-bottom: 20px;
}

li.feed{
    float: left;
    cursor: pointer;
    width: 18%;
    height: 100px;
    background: #F9EFFF;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

li.feed{
    float: left;
    cursor: pointer;
}

li.feed:hover{
    background: #777;
}

.info{
    position: relative;
    display: none;
}

.closebtn{
    background: none;
    border: none;
    color: grey;
    position: relative;
    left: 98%;
    top: -290px;
}

.closebtn:hover{
    color: red;
    background: none;
}

p{
    color: wheat;
    margin-left: 5%;
}

.pdate{
    color: antiquewhite;
    font-weight: bold;
    margin: -10px 0 -10px 32%;
}